* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

th {
  text-align: start;
}

th:not(:last-child) {
  cursor: pointer;
}

th.active {
  color: green;
}
